<html>
<head>

</head>
<body>
    <form name="test" method="post" action="/person">
        <label for="name">Name</label>
        <input type="text" name="name">

        <label for="age">Age</label>
        <input type="text" name="age">

        <label for="nationality">Nationality</label>
        <input type="text" name="nationality">

        <input type="submit" name="submit" value="Submit">
        <a href="http://localhost:4000/show_all">Show All Records</a>
    </form>
</body>
</html>