<html>
<head>

</head>
<body>
    form(name="test", method="post", action="/person/edit/"+result._id)
        <label for="name">Name</label>
         input(name = "name", value=result.name )

        <label for="age">Age</label>
        input(name = "age", value=result.age )

        <label for="nationality">Nationality</label>
        input(name = "nationality", value=result.nationality )

        <input type="submit" name="submit" value="Submit">
        <a href="http://localhost:4000/show_all">Show All Records</a>
    
</body>
</html>